<div class="mat-elevation-z8">
  <table mat-table matSort aria-label="Elements">
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Feature Name</th>
      <td mat-cell *matCellDef="let row">{{ row.featureName }}</td>
    </ng-container>

    <!-- Description Column -->
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
      <td mat-cell *matCellDef="let row">{{ row.description }}</td>
    </ng-container>

    <!-- Channel Column -->
    <ng-container matColumnDef="channel">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Channel</th>
      <td mat-cell *matCellDef="let row">{{ row.channel }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator
    #paginator
    [length]="dataSource?.data.length"
    [pageIndex]="0"
    [pageSize]="5"
    [pageSizeOptions]="[5, 15, 20, 30]"
  >
  </mat-paginator>
</div>

<br /><br />

<form [formGroup]="feedbackForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>Add a new feedback to the collection!</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Feature Name" formControlName="name" />
            <mat-hint
              >You can introduce several feature names by doing it comma
              separated.</mat-hint
            >
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <textarea
              matInput
              placeholder="Description"
              formControlName="description"
            ></textarea>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>Channel</mat-label>
            <select matNativeControl formControlName="channel">
              <option value="email">email</option>
              <option value="web">web</option>
              <option value="Google Play">Google Play</option>
              <option value="mobile_sdk">mobile_sdk</option>
              <option value="Telefon">Telefon</option>
              <option value="Facebook">Facebook</option>
              <option value="Beamer">Beamer</option>
            </select>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button
        class="add-feedback"
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="!feedbackForm.valid"
      >
        Add
      </button>
    </mat-card-actions>
  </mat-card>
</form>
