<form [formGroup]="registrationForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>Register your account!</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Email" formControlName="email" />
            <mat-hint>Enter a valid email address.</mat-hint>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Password" formControlName="password" />
            <mat-hint
              >Password must contain: at least 8 characters, uppercase letters,
              lowercase letters and numbers.</mat-hint
            >
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button
        class="auth-action"
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="!registrationForm.valid"
      >
        Submit
      </button>
    </mat-card-actions>
  </mat-card>
</form>
